{% load static %}
{% load static json_extras %}

{% for bm in bookmarks %}

<div class="card p-4 md:p-6 relative cursor-pointer" data-bm-id="{{ bm.id }}" data-platform="{{ bm.platform }}"
    data-tags='{{ bm.tags|to_json }}'>

    <h3 class="mb-2 font-semibold text-lg md:text-xl truncate">{{ bm.name }}</h3>

    {% if bm.url %}
    <a href="{{ bm.url }}" target="_blank"
        class="url inline-block text-[#58a6ff] mb-3 text-xs truncate whitespace-nowrap max-w-[200px] md:text-sm hover:underline">{{ bm.url }}</a>
    {% endif %}
    <p class="text-xs mb-2 mt-2 leading-[1.4] text-gray-400  truncate line-clamp-2 md:mb-3">{{ bm.description }}</p>

    <!-- <div class="tags mt-3 flex flex-wrap gap-1 md:gap-2"> -->
    <div class="tags mt-3 flex flex-wrap gap-1 md:gap-2 max-h-[1.5rem] md:max-h-[2rem] overflow-hidden">
        <span class="text-[10px] md:text-xs tag">{{ bm.platform }}</span>

        {% with bm.tags|length as total_tags %}
        {% for tag in bm.tags|slice:":3" %}
        <span class="text-[10px] md:text-xs tag">{{ tag }}</span>
        {% endfor %}

        {% if total_tags > 3 %}
        <span class="text-[10px] md:text-xs tag">
            +{{ total_tags|add:"-3" }}
        </span>
        {% endif %}
        {% endwith %}

    </div>
</div>
{% endfor %}