{% extends 'home/base.html' %}
{% load static %}

{% block title %}Clip - Email Sent{% endblock %}

{% block content %}

<!-- Main Content -->
<main class="flex w-full p-12 justify-center items-center h-[90dvh]">
    <div class="max-w-md w-full mx-auto text-center">
        <h1 class="text-xl font-bold mb-1 md:text-2xl md:mb-2">Check your inbox</h1>
        <p class="text-xs text-gray-500 mb-6 md:text-sm">
            We’ve emailed you a link to reset your password. If it doesn’t arrive soon, check your spam folder.
        </p>
        <a href="{% url 'accounts:signin' %}" 
        class="inline-block w-full py-3 bg-[var(--btn-bg)] text-white border-none text-sm rounded-xl font-medium transition hover:bg-[#703edb] md:text-base">
            Back to Sign In
        </a>
    </div>
</main>
{% endblock %}