{% extends 'home/base.html' %}
{% load static %}

{% block title %}Clip - Password Reset Completed{% endblock %}

{% block content %}

<!-- Main Content -->
<main class="flex w-full p-12 justify-center items-center h-[90dvh]">
    <div class="max-w-md w-full mx-auto text-center">
        <h1 class="text-xl font-bold mb-1 md:text-2xl md:mb-2">All set!</h1>
        <p class="text-xs text-gray-500 mb-6 md:text-sm">
            Your password has been changed successfully.
        </p>
        <a href="{% url 'signin' %}"
            class="inline-block w-full py-3 btn-primary text-sm text-white rounded-xl font-medium transition md:text-base">
            Sign In with New Password
        </a>
    </div>
</main>
{% endblock %}